.error {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-img {
  display: block;
  width: p2m(679);
  height: p2m(377);
  margin-top: p2m(491);
  @extend %u-center;
}

.error-img-404 {
  width: p2m(679);
  height: p2m(377);
}

.error-img-500 {
  width: p2m(758);
  height: p2m(344);
}

.error-tt {
  display: flex;
  height: p2m(377);
  align-items: center;
  justify-content: center;
  margin-top: p2m(491);
  color: #9e9e9e;
  font-size: p2m(420);
}

.error-des {
  margin-top: p2m(92);
  color: #adadad;
  font-size: p2m(48);
  font-weight: 400;
  text-align: center;
}

.error-button {
  display: block;
  width: p2m(1000);
  height: p2m(130);
  margin-top: p2m(104);
  background: #757575;
  border-radius: p2m(12);
  color: $white;
  font-size: p2m(48);
  line-height: p2m(130);
  text-align: center;
  @extend %u-center;
}
